<!-- Navigation -->
<nav class="main-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="https://tech-geeks-repair.myshopify.com/pages/about">About</a>
        </li>
        <li>
            <a href="https://tech-geeks-repair.myshopify.com/pages/services">Services</a>
        </li>
        <li>
            <a href="https://tech-geeks-repair.myshopify.com/pages/contact-us">Contact</a>
        </li>
    </ul>
</nav>