/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem; }
  footer a {
    display: inline;
    text-decoration: none;
    padding: 20px;
    color: white;
    
    position: relative;
    -webkit-transition: top ease 0.5s;
    -o-transition: top ease 0.5s;
    transition: top ease 0.5s;
    top: 0px; }

    footer a:hover {
      top: -10px; }
